extends ../layout.pug

block title
  = customer.description

block content

  - var baseUrl = `https://dashboard.stripe.com/${customer.livemode ? '' : 'test/'}`
  - var stripeUrl = `${baseUrl}customers/${customer.id}`

  .float-lg-right.mb-5
    a.btn.btn-primary(href=`/messages/new?emails=${customer.email}`)
      i.fa.fa-envelope.mr-3
      | Message
    a.btn.btn-primary.mx-3(href=stripeUrl target='_blank')
      i.fa.fa-cc-stripe.mr-3
      | View on Stripe
    a.btn.btn-primary(href=`/customers/${customer.id}/edit`)
      i.fa.fa-pencil.mr-3
      | Edit

  p.mb-5
    a(href='/customers') ⃪ All customers
  

  if customer.delinquent
    .alert.alert-danger
      i.fa.fa-warning.mr-3
      strong Customer is delinquent on their payments.
      = ' '
      | See more by 
      a(href=stripeUrl target='_blank') viewing their account on Stripe
  
  if !customer.livemode
    p
      small.badge.badge-warning TEST MODE

  .float-md-right.my-5.my-md-0.rounded.px-4.py-3.text-center.text-white(class=`bg-${customer.account_balance > 0 ? 'danger' : 'success'}`)
    div
      small Account Balance
    .display-3
      | $
      = ' '
      = customer.account_balance

  h1.display-4
    = customer.description
  

  table.table.table-sm.table-hover.table-responsive.my-4(style="width: auto")
    tbody
      tr
        th.pr-5 Contact Info:
        td
          if customer.phone
            a.mr-4(href=`tel:+1${customer.phone}`)
              i.fa.fa-phone.mr-2
              = customer.phone
          if customer.email
            a(href=`/messages/new?emails=${customer.email}`)
              i.fa.fa-envelope-o.mr-2
              = customer.email

      tr
        th.pr-5 Credit Card:
        td
          if customer.sources && customer.sources.data.length
            - var card = customer.sources.data[0]
              if card.brand === 'Visa'
                i.fa.fa-cc-visa.mr-3
              else if card.brand === 'American Express'
                i.fa.fa-cc-vamex.mr-3
              else if card.brand === 'MasterCard'
                i.fa.fa-cc-vmastercard.mr-3
              else if card.brand === 'Discover'
                i.fa.fa-cc-vdiscover.mr-3
              else
                i.fa.fa-credit-card.mr-3
              small.mr-3
                span.text-muted **** **** **** 
                strong= card.last4
              small.text-muted exp: #{card.exp_month}/#{card.exp_year}
          else
            small.text-muted No credit card on file...
        
      tr
        th.pr-5 RFID Numbers:
        td
          if customer.rfids
            each rfid in customer.rfids
              span.badge.badge-info.mr-2= rfid
          else
            small.text-muted No RFIDs yet...

      tr
        th.pr-5 Interests:
        td
          if customer.interests
            each interest in customer.interests
              span.badge.badge-success.mr-2= interest
          else
            small.text-muted No interests yet...

  hr.my-5.clearfix

  //- h5.mb-4 Subscriptions
  //- if customer.subscriptions && customer.subscriptions.length
  //-   table.table.table-sm.table-hover.table-responsive
  //-     thead
  //-       tr
  //-         th Plan
  //-         th Price
  //-         th Status
  //-         th Created
  //-     tbody
  //-       each sub in customer.subscriptions
  //-         - var singular = sub.plan.interval_count === 1
  //-         tr
  //-           td
  //-             strong
  //-               a(href=`${baseUrl}subscriptions/${sub.id}` target='_blank')= sub.plan.name
  //-           td $#{sub.plan.amount / 100} every #{singular ? '' : sub.plan.interval_count} #{sub.plan.interval}#{singular ? '' : 's'}
  //-           td
  //-             if sub.canceled_at
  //-               small.text-danger
  //-                 | Cancelled on
  //-                 = ' '
  //-                 = moment.unix(sub.canceled_at).format('MMMM Q, YYYY')
  //-             else
  //-               small.text-info
  //-                 | Next invoice:
  //-                 = ' '
  //-                 = moment.unix(sub.current_period_end).format('MMMM Q, YYYY')
  //-           td= moment.unix(sub.created).format('MMMM Q, YYYY')

  hr.my-5

  //- h5.mb-4 Signoffs
  //- if customer.signoffs
  //-   table.table.table-sm.table-hover.table-responsive
  //-     thead
  //-       tr
  //-         th Equipment/Area
  //-         th Instructor
  //-         th Date
  //-     tbody
  //-       each signoff in customer.signoffs
  //-         - var fields = signoff.split(',')
  //-         tr
  //-           td
  //-             strong= fields[0]
  //-           td= fields[1]
  //-           td
  //-             datetime= moment(fields[2]).format('MMMM Q, YYYY')

  hr.my-5

  pre.mt-5= JSON.stringify(customer, null, 2)
