extends ../layout.pug

block title
  = customer.description

block content

  - var baseUrl = `https://dashboard.stripe.com/${customer.livemode ? '' : 'test/'}`
  - var stripeUrl = `${baseUrl}customers/${customer.id}`

  .float-lg-right.mb-5
    a.btn.btn-primary(href=`/messages/new?emails=${customer.email}`)
      i.fa.fa-envelope.mr-3
      | Message
    a.btn.btn-primary.mx-3(href=stripeUrl target='_blank')
      i.fa.fa-cc-stripe.mr-3
      | View on Stripe
    a.btn.btn-primary(href=`/customers/${customer.id}/edit`)
      i.fa.fa-pencil.mr-3
      | Edit

  p.mb-5
    a(href='/customers') ⃪ All customers
  

  if customer.delinquent
    .alert.alert-danger
      i.fa.fa-warning.mr-3
      strong Customer is delinquent on their payments.
      = ' '
      | See more by 
      a(href=stripeUrl target='_blank') viewing their account on Stripe
  
  if !customer.livemode
    p
      small.badge.badge-warning TEST MODE

  .float-md-right.my-5.my-md-0.rounded.px-4.py-3.text-center.text-white(class=`bg-${customer.account_balance > 0 ? 'danger' : 'success'}`)
    div
      small Account Balance
    .display-3
      | $
      = ' '
      = customer.account_balance

  h1.display-4
    = customer.description

  .mt-3
    strong.mr-3 Contact Info
    if customer.metadata.phone
      a.mr-4(href=`tel:+1${customer.metadata.phone}`)
        i.fa.fa-phone.mr-3
        = customer.metadata.phone
    if customer.email
      a(href=`/messages/new?emails=${customer.email}`)
        i.fa.fa-envelope.mr-3
        = customer.email
  
  .mt-3
    strong.mr-3 RFID Numbers:
    if customer.metadata.rfids
      each rfid in customer.metadata.rfids.split(',')
        span.badge.badge-info.mr-2= rfid
    else
     small.text-muted No RFIDs yet...

  .mt-3
    strong.mr-3 Interests
    if customer.metadata.interests
      each interest in customer.metadata.interests.split(',')
        span.badge.badge-success.mr-2= interest

  hr.my-5.clearfix

  h5.mb-4 Subscriptions
  if customer.subscriptions && customer.subscriptions.data.length
    table.table.table-sm.table-hover.table-responsive
      thead
        tr
          th Plan
          th Price
          th Status
          th Created
      tbody
        each sub in customer.subscriptions.data
          - var singular = sub.plan.interval_count === 1
          tr
            td
              strong
                a(href=`${baseUrl}subscriptions/${sub.id}` target='_blank')= sub.plan.name
            td $#{sub.plan.amount / 100} every #{singular ? '' : sub.plan.interval_count} #{sub.plan.interval}#{singular ? '' : 's'}
            td
              if sub.canceled_at
                small.text-danger
                  | Cancelled on
                  = ' '
                  = moment.unix(sub.canceled_at).format('MMMM Q, YYYY')
              else
                small.text-info
                  | Next invoice:
                  = ' '
                  = moment.unix(sub.current_period_end).format('MMMM Q, YYYY')
            td= moment.unix(sub.created).format('MMMM Q, YYYY')

  hr.my-5

  h5.mb-4 Signoffs
  if customer.metadata.signoffs
    table.table.table-sm.table-hover.table-responsive
      thead
        tr
          th Equipment/Area
          th Instructor
          th Date
      tbody
        each signoff in customer.metadata.signoffs.split('\\n')
          - var fields = signoff.split(',')
          tr
            td
              strong= fields[0]
            td= fields[1]
            td
              datetime= moment(fields[2]).format('MMMM Q, YYYY')

  hr.my-5

  pre.mt-5= JSON.stringify(customer, null, 2)
