extends ../layout.pug

block title
  | Edit
  = ' '
  = customer.description || customer.email

block content

  h1 Edit #{customer.description || customer.email} 

  form.mt-5(action=`/customers/${customer.id}` method='post')
    .row

      .col-md-4
        .form-group
          label(for='field-description') Name
          input#field-description.form-control(name='description' type='text' placeholder='Customer name' value=customer.description required)
      .col-md-4
        .form-group
          label(for='field-email') Email
          input#field-email.form-control(name='email' type='email' placeholder='Customer email' value=customer.email required)
      .col-md-4
        .form-group
          label(for='field-phone') Phone
          input#field-phone.form-control(name='phone' type='phone' placeholder='Phone number' value=customer.metadata.phone required)

    hr

    .form-group
      label(for='field-rfid') RFID Number(s)
      input#field-rfid.form-control(name='rfids' type='text' placeholder='RFID numbers' value=customer.metadata.rfids)
      p
        small
          em.text-muted Comma separated list of RFID numbers.

    .form-group
      label(for='field-interests') Interests
      input#field-interests.form-control(name='interests' type='text' placeholder='Interests...' value=customer.metadata.interests maxlength=500)
      p
        small
          em.text-muted Comma separated list of interests.

    .form-group
      label(for='field-signoffs') Signoffs
      input#field-signoffs.form-control(name='signoffs' type='text' placeholder='Signoffs...' value=customer.metadata.signoffs maxlength=500)
      p
        small
          em.text-muted Comma separated list of signoffs.
        
    p.mt-5
      button.btn.btn-lg.btn-primary(type='submit')
        i.fa.fa-check.mr-3
        | Update Customer
      a.ml-5(href=`/customers/${customer.id}`)
        i.fa.fa-close.mr-2
        | Cancel updating
