extends ../layout.pug

block title
  | Customers

block content
  p.float-right
    a.btn.btn-primary(href=`/messages/new?emails=${customers.map(c => c.email).join(',')}`) 
      i.fa.fa-envelope.mr-3
      | Message #{customers.length} Customer#{customers.length ? 's' : ''}
  h1 Customers
  p There are currently #{customers.length} customers.
  if customers && customers.length
    table.table
      thead
        tr
          th Name
          th Contact Info
          th Subscriptions
      tbody
        for customer in customers
          tr
            td
              a(href=`/customers/${customer.id}`)
                if customer.description
                  = customer.description
                else
                  = customer.email
            td
              a(href=`/messages/new?emails=${customer.email}`)= customer.email
            td= customer.subscriptions.data.length
  else
    p.text-warning There are no customers.

  pre= JSON.stringify(customers, null, 2)